
{% extends 'layoutx.html' %}

{% block body %}
<section id="iq-home" class="bannerq-bg iq-bg-fixed iq-box-shadow iq-over-black-90" style=" background: url(images/banner/bg.jpg);">
    <div id="particles-js"></div>
    <div class="container">
        <div class="row banner-text">
           
            <div class="col-md-12">
                    <p>Nous sommes un collectif de 6 étudiants en première année à <strong>CentraleSupélec</strong> et nous vous proposons ce projet d'édition mp3 dans le cadre de nos <em>CodingWeeks</em>.<br/>Liste des participants :
                        <ul>
                            <li>Alex</li>
                            <li>Alexandre</li>
                            <li>Arnaud</li>
                            <li>Lukas</li>
                            <li>Salomé</li>
                            <li>Timothée</li>
                        </ul>
                    </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}